* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100% !important;
  width: 100%;
}

li {
  list-style-type: none;
}
.bg-blue {
  background-color: #01848e;
}

.tab-card {
  border: 0px solid #000 !important;
}

/* Apply overflow rules directly to table container */
.scroll {
  overflow-x: hidden !important;
}

@media (max-width: 1200px) {
  .scroll {
    overflow-x: auto !important;
  }
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td,
td.dt-type-numeric,
table.dataTable td.dt-type-date {
  text-align: left !important;
}

table.dataTable thead > tr > th.dt-orderable-asc span.dt-column-order {
  display: none !important;
}
.accordion-body {
  text-align: end;
}
.btn-main {
  border-radius: 0% !important;
  border-bottom: 0.8px solid #cbe1e1 !important;
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
  color: #01848e !important;
  background-color: #d9edee !important;
}
.btn-main2 {
  color: white !important;
  background-color: #47c2bf !important;
  border: 2px solid #1a9ba0 !important;
}
.btn-main3 {
  color: #00909a !important;
  background-color: #e5f3f4 !important;
  border: 1px solid #badde0 !important;
}
.accordion-button:not(.collapsed) {
  background-color: unset !important;
}

.fs-30 {
  font-size: 22px;
}
.active > .page-link,
.page-link.active {
  background-color: #47c2bf !important;
  border-color: #47c2bf !important;
  color: #ffffff !important;
}
.btn-main3:nth-child(even) {
  color: #ff702a !important;
  background-color: #fff1e6 !important;
  border: 1px solid #ffd6b7 !important;
}
.text-enable {
  color: #e0e0e0 !important;
}
.color-cyan {
  color: #47c2bf !important;
}
